@import "https://cssicon.space/css/icons.css";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: rgb(208, 208, 208); */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}
.menu.icon {
  color: #000;
  margin-left: -17px !important;
  margin-top: 4px !important;
  width: 11px !important;
}
.close.icon {
  color: #000;
  margin-left: -17px !important;
  margin-top: -4px !important;
}

.text-baseColor { 
  color: #eb004e;
}
.bg-baseColor { 
  background: #eb004e;
}

a {
  color: inherit;
  text-decoration: none;
}

p { margin: 15px 0 }

.mx-3 { margin-left: 1.8rem; margin-right: 1.8rem }
.mt-3 { margin-top: 1rem !important }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  border: 1px solid;
} */



nav .fa {
  font-size: 1.4rem;
}

.flex { display: flex }
.flex-column { display: flex; flex-direction: column; }
.flex-wrap {flex-wrap: wrap;}
.justify-around { justify-content: space-around }
.justify-between { justify-content: space-between }
.justify-center { justify-content: center }
.text-center { text-align: center }
.items-center { align-items: center }
.gap-1 { gap: 2rem }

/* input { border: none; outline: none; } */

input { border: none; outline: none; padding: 10px 25px; margin-top: 5px; margin-bottom: 5px; margin-right: 5px; cursor: pointer }
input:focus { outline: 1px solid #ac013a; }

button{
  outline: none;
  border: 1px solid;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button-outline:hover,
.button-solid { 
  padding: 6px 10px;
  background: #eb004e;
  color: white;
  border: 1px solid #eb004e;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.button-solid:hover,
.button-outline {
  padding: 6px 10px;
  background: white;
  color: #eb004e;
  border: 1px solid #eb004e;
  transition: .2s ease-in-out;
  cursor: pointer;
}

#loadingModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #loadingModal,
  #desktopShareMain {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.homeComponent-catg_box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 15px;
  background: #eb004e;
  color: white;
  width: 240px;
  /* height: 180px; */
  border-radius: 10px;
}
.homeComponent-catg_box:last-child {
  margin-right: 0 !important;
}
.homeComponent-catg_box_text{
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.homeComponent-featuredCatg_wig-body {
  padding: 10px
}

.sm-show{ display: none }

@media (max-width: 700px){
  .sm-hidden{ display: none }
  .sm-show{ display: block }
  .sm-justify-center { justify-content: center }
  .homeComponent-catg_box_text{
    font-size: .6rem;
    right: 10px;
  }
}

@media (min-width: 700px){
  .md-flex { display: flex; flex-direction: row !important }
  .md-grid{ display: grid }
  .md-show{ display: block }
}