.layoutContainer {
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  /* background: rgb(218, 218, 218); */
  padding: 15px
}

.sideBarProfileImage {
  border-radius: '50%'
}

@media (min-width: 768px) {
  .layoutContainer {
    grid-template-columns: 1fr 4fr;
  }
}