.nav {
  width: 100vw;
  background: white;
  display: block;
  /* box-shadow: 0px 4px 15px 2px #dfa6a61f; */
  /* margin-bottom: 10px; */
  z-index: 5;
}

.navLogo {
  width: 180px;
  height: 36px;
}

.mainNav {
  padding: 15px 80px
}

@media (max-width: 700px){
  .mainNav {
    padding: 15px 20px
  }
  .navLogo {
    width: 120px;
    height: 29px;
  }
  .headerad {
    height: 30px
  }
}

.navSearch {
  border: 1px solid gray;
  /* padding: 10px 15px; */
}
.navSearch input {
  outline: none;
  border: none;
  width: 200px;
  height: 14px;
  margin-right: 5px;
}

.topMenu {
  padding: 10px 25px;
  color: #eb004e;
  background: #fcfcfc;
  gap: 1rem;
  overflow: auto;
}
